@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #5c5c61;
    border-radius: 20px;
  }